.nav-container {
  position: relative;
  padding-top: 20px; /* Adjust as needed for the header height */
  border: 1px solid #444; /* Darker border color */
  border-radius: 5px; /* Add border radius for enclosure effect */
}

/* Add styles for the header text */
.nav-header {
  position: absolute;
  top: -10px; /* Adjust top position to move the header text slightly up */
  left: 20px; /* Adjust left position as needed */
  background-color: white; /* Match the background color of the container */
  padding: 0 5px; /* Adjust padding as needed */
  font-weight: bold;
  color: black;
}

.col-auto {
  box-shadow: 5px 5px 5px #adadad70;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
.links {
  display: flex!important;
  justify-content: center;
  color: #ffff !important;
  margin: 5px;
  width: 95px;
  border: none;
  /* padding: 5px; */
  border-radius: 5px !important;
  padding: 5px 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3 !important;
  box-shadow: 5px 5px 5px white !important;
  outline: none;
  background-position: center;
  transition: background 0.8s;
}

.links-advanced {
  background-color: #adadad !important;
}
